body{
    background-image: url("IMG_20250928_110455_edit_1031302137663774.jpg");
    background-size: cover;
    font-family: "Brush Script MT", cursive;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (max-width: 1024px){
    body{
        background-image: url("IMG_20250928_110455_edit_1031302137663774.jpg");
    }
}
@media (max-width: 768px){
    body{
        background-image: url("IMG_20250928_110455_edit_1031302137663774.jpg");
    }
}

header{
    font-family: "Brush Script MT", cursive;
    padding: 20px;
    font-size: large;
    text-align: center;
}
header a{
    text-decoration: none;
    color: black;
}

header ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

header ul li{
    margin: 0 15px;
    font-size: larger;
}

header a {
    text-decoration: none;
    color: black;

}
header ul li a{
    text-decoration: none;
    color: black;
}

section{
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

.Gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.Gallery-grid img{
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}